@using Parcels.Models;

<ul>
  <li>@Model.Length</li>
  <li>@Model.Width</li>
  <li>@Model.Height</li>
  <li>@Model.Weight</li>
  <li>total Volume: @Model.Volume</li>
  <li>cost to ship this parcel: @Model.Cost</li>
</ul>
<a href="/">Send Another package</a>